.item {
    background-color: lightslategrey;
    border-radius: 10px;
    padding: 5px;
    display: grid;
}

.item-image {
    width: 200px;
}

#item-store {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

